/* at first giving the values to the background */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
/* adding the background image and giving them value */
.bg-login{
    background: url("img/logo1.jpg");
    background-position: center;
    background-size: cover;
  }
  

.bg-img{
  background: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800');
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
/*login form part(box) */
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999; 
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content h1{
  color: white;
  font-size: 45px;
  font-weight: 600;
  margin: 0 0 35px 0;

  
}
/*  header */
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  
}
/* box containng symbol and email(input box) */
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
/* email, password aagadi ko symbol*/
.field span{
  color: #222;
  width: 40px;
  margin-top: 12px;
}
/* giving some beauty to this writting part */
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  
}
/* giving the gap between two different  part */
.space{
  margin-top: 16px;
}

/* forgot password */
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: white;
  text-decoration: none;
}
/* creating hovering effect */
.pass:hover a{
  text-decoration: underline;
}
/* providing some more decorations to login button */
.field input[type="submit"]{
  background: rgb(51, 30, 18);;
  border: 1px solid rgb(51, 30, 18);;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  

}
/* adding a little hover effect in login button */
.field input[type="submit"]:hover{
  background: rgb(51, 30, 18);;
}
/* signup part */
.signup{
  font-size: 15px;
  color: white;
  
}
/* giving some decoration */
.signup a{
  color: #59d363;
  text-decoration: none;
}
/* adding the hover effect */
.signup a:hover{
  text-decoration: underline;
}