/* universal background */
* {
  background-color: rgb(182, 174, 174);
}
/* first part (box) */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 10%;
  transform: translate(-50%, -50%);
  background: #ffffff0a;
  box-shadow: -1px 4px 28px 0px #000000bf;
}
/* buttons(book the room and food) */
.container button {  
  margin: 20px 0;
  padding: 10px;
  background: #3498db;
  border: 1px solid #1d425a;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  box-shadow: 4px 3px rgb(131, 115, 115);
}
a{
  background-color: inherit;
  color: #131212ef;
  text-decoration: none;
}
.container button:hover{
  transform: scale(1.5);
  transition: 1s;
  background-color: #5ca3a3;
}