{% extends 'basetemplate.html' %}

{% block content %}
<style>
    img {
      display: inline-block;
    }
</style>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Hotel Benju</h1>
                    
                    <p class="mb-4" style="text-align: justify;">Hotel Benju a newly established luxury hotel with all modern amenities and comforts beds. 
                        Our rooms have first class property with well furnished & big windows for enjoying the views 
                        with private balcony. Situated in the heart of Kushma, 2 minutes drive from Shivalaya chowk, Kushma, Parbat. 
                         We have total 28 rooms with attached bathroom including , 12  rooms with private balcony  rooms &  others are deluxe 
                        (single, twin, triple and family bed room) with modern amenities like air condition, free wifi, lcd television modern
                        bathroom with 24 hours hot water.The Kushma Bazaar, located on an extremely narrow strip on the banks of two rivers, 
                        the Kaligandaki and the Modi, is the main attraction of Kushma. The city is home to several breathtaking Himalayas, 
                        bungee (The Cliff), zipline (Harness Zipline), cable car, and many tallest suspension bridges. As a result, Kushma's 
                        hotel industry is rapidly increasing.
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        

        
                    
                    </p>   
                    
                    

                        
                       
                 </div>
            
{% endblock %}
