{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Food Order - Staff</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="./../static/css/menue.css">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo1.jpg' %}">
    <link rel="stylesheet" href="../static/css/calculator.css">
    <link href="./../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="./../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<style> .bg-gradient-primary {
    background-color: rgb(51, 30, 18);
    background-image: none;
}</style>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="menu">
            <div class="sidebar-brand-icon rotate-n-">
                <i class="fas fa-fw fa-table"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Hotel Benju</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <!-- Nav Item - Room -->
        <li class="nav-item">
            <a class="nav-link" href="/MainHome">
                <i class="fas fa-user"></i>
                <span> Home </span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/room_booked">
                <i class="fas fa-user"></i>
                <span> Book Room </span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/menu">
                <i class="fas fa-user"></i>
                <span> Order Food </span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/roomstatement">
                <i class="fas fa-receipt"></i>
                <span> Statement </span></a>
        </li>

        <!-- Nav Item - Log Out -->
        <li class="nav-item">
            <a class="nav-link" href="/signout">
                <i class="fas fa-sign-out-alt"></i>
                <span>Log Out</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">


                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                               </span>

                            <img class="img-profile rounded-circle"
                                 src="./../static/img/undraw_profile.svg">
                        </a>

                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Food Order Details</h1>
                <div>
                    {% if success %}
                <div class="">
                    <strong style="padding-left: 430px;color: green"> Food Served Successfully!</strong></div>
            {% endif %}     
                   
                     
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Ordered Details </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="padding-left: 10px">Room</th>
                            <th style="padding-left: 10px">Table</th>
                            <th style="padding-left: 10px">Food</th>
                            <th style="padding-left: 10px">Price</th>
                            <th style="padding-left: 10px">Ordered Date/Time</th>
                            <th style="padding-left: 10px">Action</th> 
                            <th style="padding-left: 10px">Action</th> 



                        </tr>

                        </thead>
                        <tbody>
                        {% for o in foods %}
                            <form action="/orderconfirm" class="contact" method="POST">
                                {% csrf_token %}
                                <tr>
                                    <td style="padding-left: 10px">{{ o.roomnum }}</td>
                                    <td style="padding-left: 10px">{{ o.tablenum }}</td>
                                    <td style="padding-left: 10px">{{ o.ordereditem }}</td>
                                    <td style="padding-left: 10px"> ${{ o.itemprice }}</td>
                                    <td style="padding-left: 10px"> {{ o.ordertime }}</td>
                                    <td>

                                        <input style="padding-left: 10px" type="text" hidden name="customer_roomnum"
                                               value="{{ o.roomnum }}">
                                        <input style="padding-left: 10px" type="text" hidden
                                               name="customer_tablenum" value="{{ o.tablenum }}">
                                        <input style="padding-left: 10px" type="text" hidden
                                               name="customer_orderitem" value="{{ o.ordereditem }}">
                                        <input style="padding-left: 10px" type="text" hidden
                                               name="customer_itemprice" value="{{ o.itemprice }}">
                                        <input style="padding-left: 10px" type="text" hidden
                                               name="customer_ordertime" value="{{ o.ordertime }}">
                                        <input style="padding-left: 10px" type="submit"
                                               class="btn btn-primary btn-user btn-facebook" name="submit"
                                               value="Order Served">
                                    </td>
                                    
                                    <td>

                                        <div class=""
                                             style="padding-right:20px;padding-left: 20px;padding-bottom: 10px">
                                            <a class="btn btn-danger btn-user " href="{% url 'OrderServed' o.id %}">Cancel
                                                Order</a>
                                        </div>
                                    </td>

                                </tr>
                            </form>

                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
                <hr>
                <div class="container-fluid.">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Booking Details</h1>
                    <div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Booking Details </h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th style="padding-left: 10px">Room Number</th>
                        <th style="padding-left: 10px">Room Type</th>
                        <th style="padding-left: 10px">Booked By</th>
                        <th style="padding-left: 10px">Phone</th>
                        <th style="padding-left: 10px">Citizenship Number</th>
                        <th style="padding-left: 10px">Address</th>
                        <th style="padding-left: 10px">Check In</th>
                        <th style="padding-left: 10px">Check Out</th>
                        <th style="padding-left: 10px">Email</th>
                        <th style="padding-left: 10px">Booked Date</th>
                        <th style="padding-left: 10px">Room Price</th>
                        <th style="padding-left: 10px">Action</th> 
                        <th style="padding-left: 10px">Action</th> 
                        <th style="padding-left: 10px">Action</th> 

                    </tr>
                    <div class="overview-boxes">
                        {% if searched %}


                            <div>

                                <h2> Results for {{ searched }} are</h2></div>
                            <br>

                            {% for sr in searchroom %}
                                <div><a
                                        href="{% url 'searchitem' %}"> {{ sr.firstname }}{{ sr.citizenship }}</a></div>
                            {% endfor %}

                        {% endif %}

                    </div>
                    </thead>
                    <tbody>
                    {% for r in rooms %}
                        <tr>
                            <td style="padding-left: 10px">{{ r.room_num }}</td>
                            <td style="padding-left: 10px">{{ r.room_type }}</td>
                            <td style="padding-left: 10px">{{ r.firstname }} {{ r.lastname }}</td>
                            <td style="padding-left: 10px">{{ r.phone }}</td>
                            <td style="padding-left: 10px">{{ r.citizenship }}</td>
                            <td style="padding-left: 10px">{{ r.address }}</td>
                            <td style="padding-left: 10px">{{ r.checkin }}</td>
                            <td style="padding-left: 10px">{{ r.checkout }}</td>
                            <td style="padding-left: 10px">{{ r.email }}</td>
                            <td style="padding-left: 10px">{{ r.booked_date }}</td>
                            <td style="padding-left: 10px">{{ r.room_price }}</td>
                            <td style="padding-left: 10px">
                                <div class="button">
                                    <a class="btn btn-warning btn-user" href="{% url 'update' r.id %}">Update</a>
                                </div>
                            </td>
                            <td style="padding-left: 10px">
                                <div class="button" >
                                    <a class="btn btn-danger btn-user" style="padding-right:20px;padding-left: 20px;padding-bottom: 10px"
                                       href="{% url 'delete_roombook' r.id %}">Cancel </a>
                                </div>
                            </td>

                            <td>
                                <div class="button">
                                    <form action="" class="contact" method="post">
                                        {% csrf_token %}
                                        <input style="padding-left: 10px" type="text" hidden name="customer_room_num"
                                               value="{{ r.room_num }}">
                                        <input style="padding-left: 10px" type="text" hidden name="customer_room_type"
                                               value="{{ r.room_type }}">
                                        <input style="padding-left: 10px" type="text" hidden name="customer_name"
                                               value="{{ r.firstname }} {{ r.lastname }}">
                                        <input style="padding-left: 10px" type="text" hidden name="customer_citizenship"
                                               value="{{ r.citizenship }}">
                                        <input style="padding-left: 10px" type="text" hidden name="customer_phone"
                                               value="{{ r.phone }}">
                                        <input style="padding-left: 10px" type="text" hidden name="customer_address"
                                               value="{{ r.address }}">
                                        <input style="padding-left: 10px" type="text" hidden name="customer_checkin"
                                               value="{{ r.checkin }}">
                                        <input style="padding-left: 10px" type="text" hidden name="customer_checkout"
                                               value="{{ r.checkout }}">
                                        <input style="padding-left: 10px" type="text" hidden name="customer_roomprice"
                                               value="{{ r.room_price }}">
                                        <input style="padding-left: 10px" type="text" hidden name="customer_booked_date"
                                               value="{{ r.booked_date }}">
                                        <input style="padding-left: 10px" type="text" hidden name="customer_email"
                                               value="{{ r.email }}">
                                        <div class="d-flex">
                                            <input style="padding-left: 10px" type="text" name="totalamount" required
                                                   placeholder="Total Amount">
                                            <input style="padding-left: 10px" type="submit"
                                                   class="btn btn-primary btn-user btn-facebook" name="submit"
                                                   value="Checkout"></div>
                                    </form>
                                </div>

                            </td>
                            <td>
                                {% if success %}
                                <div class="">
                                    <strong >Receipt Successfully Sent!</strong></div>
                            {% endif %}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                </div>
                </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Hotel Benju 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/signout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="./../static/vendor/jquery/jquery.min.js"></script>
<script src="./../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="./../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="./../static/js/sb-admin-2.min.js"></script>
<script src="./../static/js/calculator.js" type="text/calculator"></script>
</body>

</html>